Checks: >-
  -*,
  clang-diagnostic-*,
  bugprone-*,
  performance-*,
  misc-definitions-in-headers,
  modernize-use-nullptr,
  modernize-use-override,
  -bugprone-macro-parentheses,
  -bugprone-branch-clone,
  hicpp-exception-baseclass,
  misc-throw-by-value-catch-by-reference,
  -bugprone-signed-char-misuse,
  -bugprone-misplaced-widening-cast,
  -bugprone-sizeof-expression,
  -bugprone-easily-swappable-parameters,
  google-global-names-in-headers,
  modernize-use-emplace,
  modernize-use-bool-literals,
  -performance-inefficient-string-concatenation,
  -performance-no-int-to-ptr,
  readability-container-size-empty,
  -performance-enum-size,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-slicing,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-virtual-class-destructor,
  -bugprone-empty-catch,
  -misc-use-internal-linkage,
  -readability-static-definition-in-anonymous-namespace,
  performance-noexcept-move-constructor,
  performance-noexcept-swap,
  performance-noexcept-destructor,
  cppcoreguidelines-noexcept-swap,
  readability-redundant-control-flow,
  bugprone-use-after-move,
  bugprone-unchecked-optional-access,
  bugprone-narrowing-conversions,
  bugprone-infinite-loop
  
WarningsAsErrors: '*'
FormatStyle:     none
